<div>
  <!-- SIDENAV -->
  <md-sidenav-container>
    <md-sidenav mode="side" align="start" #sidenav>
      <md-tab-group>
        <md-tab label="Details">
          <div class="product-detail"
          *ngIf="currentProdCat">
            <h6>{{currentProdCat.name}}</h6>
            <p>{{currentProdCat.description}}</p>
          </div>
          <button md-raised-button (click)="sidenav.close()" class="lg-primary text-white">Close</button>
        </md-tab>
        <md-tab label="Edit">
          <button md-raised-button routerLink="/category/new" class="lg-primary text-white">Create New Category</button>
          <button md-raised-button (click)="deleteProdCat(currentProdCat); sidenav.close()" class="lg-primary text-white">Delete This Category</button>
          <button md-raised-button (click)="sidenav.close()" class="lg-primary text-white">Close</button>
        </md-tab>
      </md-tab-group>
    </md-sidenav>

    <!-- Main Content -->
    <h2 class="main-headder col-12 text-center">Categories</h2>
    <p>
      product: <span *ngIf="prodCats">{{prodCats[0].name}}</span>
    </p>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4"
      *ngFor="let prodCat of prodCats"
      [style.background]="prodCat.color">
        <div class="card product-card">
          <img class="card-img" src="http://lorempixel.com/500/240/food" class="img-fluid rounded float-left card-image" alt="Card image cap">
          <div class="card-img-overlay row">
            <div class="card-content row">
              <h4 class="card-title strokeshadow col-12">{{prodCat.name}}</h4>
            </div>
          </div>
          <div class="footer">
            <div class="button-row">
              <button md-icon-button (click)="showProdCat(prodCat)">
                <md-icon>arrow_back</md-icon>
              </button>
              <button md-mini-fab routerLink="/product" [style.background]="prodCat.color">
                <md-icon>dehaze</md-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 lg-primary">
        <div class="card product-card">
          <button md-raised-button routerLink="/category/new" class="lg-primary text-white create-btn">Create New Category</button>
        </div>
      </div>
    </div>
  </md-sidenav-container>
</div>
