<div>
  <!-- SIDENAV -->
  <md-sidenav-container>
    <md-sidenav mode="over" align="start" (close-start)="onSidenavClose()" #sidenav>
      <section class="container-fluid">
        <router-outlet></router-outlet>
        <button id="closeSidenavButton" class="lg-primary text-white" md-raised-button
          (click)="sidenav.close()">Close</button>
      </section>
    </md-sidenav>

    <!-- Main Content -->
    <div class="container-fluid">
      <h2 class="main-header col-12 text-center">Categories</h2>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 card-container">
          <div class="card product-card">
            <button class="lg-primary text-white create-btn" md-raised-button
              (click)="openCreateCategory()">Create New Category</button>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 card-container"
        *ngFor="let category of categories">
          <div class="card card-inverse product-card">
            <h4 class="card-title strokeshadow">{{category.name}}</h4>
            <a [routerLink]="['/category', category.id, 'products']">
              <img class="card-img" src="http://lorempixel.com/500/240/food"
                class="img-fluid rounded float-left card-image" alt="Card image cap">
            </a>
            <div class="card-footer button-row" [style.background]="category.color">
              <button md-icon-button
                (click)="confirmDelete(category)" *ngIf="isAdmin">
                <md-icon class="delete-btn">delete_outline</md-icon>
              </button>
              <button md-icon-button
                *ngIf="isAdmin">
                <md-icon>edit</md-icon>
              </button>
              <button md-icon-button
                (click)="showCategory(category)">
                <md-icon>info_outline</md-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </md-sidenav-container>
</div>
