#closeSidenavButton {
  margin-top: 0.5rem;
}

/* Card Styling */
.card-container {
  margin-bottom: 0.5rem;
}

.product-card .card-title {
  position: absolute;
  left: 0.5rem;
  top: 0.25rem;
  z-index: 1;
}
.strokeshadow {
    text-shadow:
    -.3px -.3px 0 #000,
    .3px -.3px 0 #000,
    -.3px .3px 0 #000,
    .3px .3px 0 #000;
}
