# Logs
logs
*.log
npm-debug.log*

# dotenv required file
.env

# mocha test outputs
mochawesome-report

# Dependency directories
node_modules
jspm_packages

# Typescript compiled JS
/public/src/**/*.js
*.js.map
!public/src/systemjs.config.extras.js
!public/src/systemjs.config.js
!public/src/systemjs-angular-loader.js

# Angular Ahead of Time Compilation Files
/public/dist/**/*
!public/dist/index.html
