# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules
jspm_packages

# Typescript compiled JS
/public/src/**/*.js
*.js.map
!public/src/systemjs.config.extras.js
!public/src/systemjs.config.js

# Local Ports
ports.json
