<section class="row">
  <h2 class="main-header col-12 text-center">Sign In</h2>
  <div class="offset-1 col-10 offset-lg-3 col-lg-6">
    <form (ngSubmit)="onSubmit()" #signInForm="ngForm" novalidate>
      <div class="form-group"
        [ngClass]="{ 'has-danger':(username.invalid && username.dirty) }">
        <label class="form-control-label" for="username">Username</label>
        <div class="has-tooltip">
          <input type="text" class="form-control form-control-danger"
            required
            [(ngModel)]="user.username" name="username"
            #username="ngModel">
          <div class="tooltip">Required</div>
        </div>
      </div>
      <div class="form-group"
        [ngClass]="{ 'has-danger':(password.invalid && password.dirty) }">
        <label class="form-control-label" for="password">Password</label>
        <div class="has-tooltip">
          <input type="password" class="form-control form-control-danger"
            required
            [(ngModel)]="user.password" name="password"
            #password="ngModel">
          <div class="tooltip">Required</div>
        </div>
      </div>
      <div id="forgotPassword"><a routerLink='/forgot'>Forgot Password?</a></div>
      <button type="submit" class="btn btn-primary text-center" [disabled]="signInForm.invalid || submitted">Sign in</button>
      or <a routerLink='/signup'>Sign up!</a>
      <div class="text-center submit-error" *ngIf="submitErrorMessage !== ''">
        {{ submitErrorMessage }}
      </div>
      <div class="text-center submit-error" *ngIf="usernameNotFound">
        Username does not match an account. <a routerLink='/signup'>Sign up</a> to continue.
      </div>
    </form>
  </div>
</section>
