<section class="row">
  <h1 class="col-12 text-center">Sign in</h1>
  <div class="offset-1 col-10 offset-lg-3 col-lg-6">
    <form novalidate>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password">
      </div>
      <button type="submit" class="btn btn-primary text-center">Sign in!</button>
    </form>
  </div>
</section>
