/*@import '/node_modules/@angular/material/core/theming/prebuilt/deeppurple-amber.css';*/
@import './material-theme.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* initialization css */
body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

p {
  margin: 8px;
}

.font30 {
  font-size: 30px;
}

/* the primary color for the project */
.lg-primary{
  background-color: #3f51b5;
}

/* sidenav styling */

md-sidenav{
  width: 320px;
}

.mat-sidenav-container {
  background-color: white;
}

.product-detail {
  margin-top: 16px;
  margin-left: 8px;
  font-size: 16px;
}
