/** Main Content **/
#main-content {
  padding-top: 0.5rem;
}

/** Colors **/
.bkg-primary {
  background-color: #3f51b5;
}

/** Forms **/
.btn-primary {
  background-color: #3f51b5;
  border-color: #3f51b5;
}
.btn-primary:disabled {
  background-color: #3f51b5;
  border-color: #3f51b5;
}

.form-group .alert-danger {
  display: none;
}
.has-danger .alert-danger {
  display: block;
}

.form-group .tooltip {
  display: none;
}
.has-danger .tooltip {
  display: block;
  background-color: red;
  color: white;
}
.form-control-label {
  margin-bottom: 0.1rem;
}

.submit-error {
  text-align: center;
  padding: 1rem 0;
  border-radius: 5px;
  background-color: #f2dede;
  margin: 1rem 0;
}

.submit-success {
  padding: 1rem;
  border-radius: 5px;
  background-color: #def2de;
  margin: 1rem 0;
}


/** Tooltips **/
.has-tooltip {
  position: relative;
}

.tooltip {
  visibility: hidden;
  font-size: 0.9em;
  opacity: 0.8;
  text-align: center;
  width: 200px;
  border-radius: 20px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 100%;
  margin-left: -200px;
  background-color: green;
}

.has-tooltip:hover .tooltip {
  visibility: visible;
}

/** Cards **/
.card {
  height: 100%;
  width: 100%;
}

.card-image {
  filter: brightness(80%);
}

.card-content {
  margin-top: -20px;
}

.card-footer {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

/*title and nav styling */
.main-headder {
  padding-bottom: 5px;
}

.main-nav {
  height: 62px;
}

md-icon.logo {
  font-size: 46px;
}

md-icon.lg {
  font-size: 32px;
  height: 27px;
  width: 41px;
}

/* button styling */
[md-raised-button] {
  width: 100%;
}

.create-btn {
  width: 100%;
  height: 100%;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.delete-btn {
  color: red;
}


/* Searchbox styling */
.search-result{
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  background-color: white;
  cursor: pointer;
}

.search-result:hover {
  color: #eee;
  background-color: #607D8B;
}
