/** Main Content **/
#main-content {
  padding-top: 0.5rem;
}

/** Colors **/
.bkg-primary {
  background-color: #3f51b5;
}

/** Forms **/
.btn-primary {
  background-color: #3f51b5;
  border-color: #3f51b5;
}
.btn-primary:disabled {
  background-color: #3f51b5;
  border-color: #3f51b5;
}

.form-group .tooltip {
  display: none;
}
.has-danger .tooltip {
  display: block;
  background-color: red;
  color: white;
}
.form-control-label {
  margin-bottom: 0.1rem;
}

.submit-error {
  padding: 1rem;
  border-radius: 5px;
  background-color: #f2dede;
  margin: 1rem 0;
}


/** Tooltips **/
.has-tooltip {
  position: relative;
}

.tooltip {
  visibility: hidden;
  font-size: 0.9em;
  opacity: 0.8;
  text-align: center;
  width: 200px;
  border-radius: 20px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 100%;
  margin-left: -200px;
  background-color: green;
}

.has-tooltip:hover .tooltip {
  visibility: visible;
}
