<section class="row">
  <h2 class="main-headder col-12 text-center">Sign Up</h2>
  <div class="offset-1 col-10 offset-lg-3 col-lg-6">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="row">
        <div class="form-group col-12 col-md-6"
          [ngClass]="{
            'has-danger':(signupForm.get('firstName').invalid && signupForm.get('firstName').dirty),
            'has-success':(signupForm.get('firstName').valid)
          }">
          <label class="form-control-label" for="firstname">First Name</label>
          <div class="has-tooltip">
            <input type="text" formControlName="firstName"
              class="form-control form-control-success form-control-danger">
            <div class="tooltip">Required</div>
          </div>
        </div>
        <div class="form-group col-12 col-md-6"
          [ngClass]="{
            'has-danger':(signupForm.get('lastName').invalid && signupForm.get('lastName').dirty),
            'has-success':(signupForm.get('lastName').valid)
          }">
          <label class="form-control-label" for="lastname">Last Name</label>
          <div class="has-tooltip">
            <input type="text" formControlName="lastName"
              class="form-control form-control-success form-control-danger">
            <div class="tooltip">Required</div>
          </div>
        </div>
        <div class="form-group col-12"
          [ngClass]="{
            'has-danger':(signupForm.get('username').invalid && signupForm.get('username').dirty),
            'has-success':(signupForm.get('username').valid)
          }">
          <label class="form-control-label" for="username">Username</label>
          <div class="has-tooltip">
            <input type="text" formControlName="username"
              class="form-control form-control-success form-control-danger">
            <div class="tooltip">
              <span *ngIf="signupForm.get('username').hasError('required')">Required</span>
              <span *ngIf="signupForm.get('username').hasError('minlength')">Username must have at least 3 characters.</span>
              <span *ngIf="signupForm.get('username').hasError('maxlength')">Username must have less than 15 characters.</span>
              <span *ngIf="signupForm.get('username').hasError('usernameTaken')">Please choose another username.</span>
            </div>
          </div>
        </div>
        <div class="form-group col-12"
          [ngClass]="{
            'has-danger':(signupForm.get('password').invalid && signupForm.get('password').dirty),
            'has-success':(signupForm.get('password').valid)
          }">
          <label class="form-control-label" for="password">Password</label>
          <div class="has-tooltip">
            <input type="password" formControlName="password"
              class="form-control form-control-success form-control-danger"
              (keyup)="revalidateConfirm()">
            <div class="tooltip">Required</div>
          </div>
        </div>
        <div class="form-group col-12"
          [ngClass]="{
            'has-danger':(signupForm.get('passwordConfirm').invalid && signupForm.get('passwordConfirm').dirty),
            'has-success':(signupForm.get('passwordConfirm').valid)
          }">
          <label class="form-control-label" for="passwordconfirm">Confirm Password</label>
          <div class="has-tooltip">
            <input type="password" formControlName="passwordConfirm"
              class="form-control form-control-success form-control-danger">
            <div class="tooltip">Passwords must match</div>
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary text-center" [disabled]="submitted">Sign Up!</button>
        </div>
      </div>
      <div class="text-center submit-error" *ngIf="submitErrorMessage !== ''">
        {{ submitErrorMessage }}
      </div>
    </form>
  </div>
</section>
