<section class="row">
  <h1 class="col-12 text-center">Sign Up</h1>
  <div class="offset-1 col-10 offset-lg-3 col-lg-6">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="row">
        <div class="form-group col-12 col-md-6"
          [ngClass]="{
            'has-danger':(signupForm.get('firstName').invalid && signupForm.get('firstName').dirty),
            'has-success':(signupForm.get('firstName').valid)
          }">
          <label class="form-control-label" for="firstname">First Name</label>
          <div class="has-tooltip">
            <input type="text" formControlName="firstName"
              class="form-control form-control-success form-control-danger">
            <div class="tooltip">Required</div>
          </div>
        </div>
        <div class="form-group col-12 col-md-6"
          [ngClass]="{
            'has-danger':(signupForm.get('lastName').invalid && signupForm.get('lastName').dirty),
            'has-success':(signupForm.get('lastName').valid)
          }">
          <label class="form-control-label" for="lastname">Last Name</label>
          <div class="has-tooltip">
            <input type="text" formControlName="lastName"
              class="form-control form-control-success form-control-danger">
            <div class="tooltip">Required</div>
          </div>
        </div>
        <div class="form-group col-12"
          [ngClass]="{
            'has-danger':(signupForm.get('username').invalid && signupForm.get('username').dirty),
            'has-success':(signupForm.get('username').valid)
          }">
          <label class="form-control-label" for="username">Username</label>
          <div class="has-tooltip">
            <input type="text" formControlName="username"
              class="form-control form-control-success form-control-danger">
            <div class="tooltip">Username already taken</div>
          </div>
        </div>
        <div class="form-group col-12"
          [ngClass]="{
            'has-danger':(signupForm.get('password').invalid && signupForm.get('password').dirty),
            'has-success':(signupForm.get('password').valid)
          }">
          <label class="form-control-label" for="password">Password</label>
          <div class="has-tooltip">
            <input type="password" formControlName="password"
              class="form-control form-control-success form-control-danger"
              (keyup)="revalidateConfirm()">
            <div class="tooltip">Required</div>
          </div>
        </div>
        <div class="form-group col-12"
          [ngClass]="{
            'has-danger':(signupForm.get('passwordConfirm').invalid && signupForm.get('passwordConfirm').dirty),
            'has-success':(signupForm.get('passwordConfirm').valid)
          }">
          <label class="form-control-label" for="passwordconfirm">Confirm Password</label>
          <div class="has-tooltip">
            <input type="password" formControlName="passwordConfirm"
              class="form-control form-control-success form-control-danger">
            <div class="tooltip">Passwords must match</div>
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary text-center" [disabled]="submitted">Sign Up!</button>
        </div>
        <div class="col-12 text-center submit-error" *ngIf="submitError && signupForm.invalid">
          <div>Please correct issues and try again.</div>
        </div>
      </div>
    </form>
  </div>
</section>
