<div class="row">
  <h2 class="main-header col-12 text-center">{{ title }}</h2>
  <div class="col-12">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="row">
        <div class="form-group col-12"
          [ngClass]="{
            'has-danger': (productForm.get('name').invalid && productForm.get('name').dirty),
            'has-success': (productForm.get('name').valid && productForm.get('name').dirty)
          }">
          <label class="form-control-label" for="name">Name</label>

          <input type="text" formControlName="name" required
            class="form-control form-control-success form-control-danger">

          <div *ngIf="formErrors.name" class="alert alert-danger">
            {{ formErrors.name }}
          </div>
        </div>

        <div class="form-group col-12"
          [ngClass]="{
            'has-success': (productForm.get('category').valid || selected),
            'has-danger': (productForm.get('category').invalid && productForm.get('category').dirty)
          }">
          <label class="form-control-label" for="category">Category</label>

          <input type="text" class="form-control form-control-success form-control-danger"
            formControlName="category" required autocomplete="off" asyncValidator
            #prodCatSearchBox (keyup)="prodCatSearch(prodCatSearchBox.value)">
          <div *ngFor="let prodCat of prodCats | async"
            (click)="setValue(prodCat)" class="search-result col-12">
            <span *ngIf="productForm.invalid">{{prodCat.name}}</span>
          </div>

          <div *ngIf="formErrors.category" class="alert alert-danger">
            {{ formErrors.category }}
          </div>
          <div *ngIf="productForm.get('category').invalid && prodCatSearchBox.value"
            class="alert alert-danger">
            {{ validationMessages.category.uniqueName }}
          </div>
        </div>

        <div class="col-12">
          <button md-raised-button type="submit" class="lg-primary text-white"
            [disabled]="submitted || productForm.invalid">{{submitBtnTitle}}
          </button>
        </div>
        <div class="submit-error col-12" *ngIf="submitError">
          {{ submitError }}
        </div>
      </div>
    </form>
  </div>
</div>
