<div class="row">
  <h2 class="main-headder col-12 text-center">{{ title }}</h2>
  <div class="col-12">
    <notice severity="warning"></notice>
    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="row">
        <div class="form-group col-12"
          [ngClass]="{
            'has-danger':(categoryForm.get('name').invalid && categoryForm.get('name').touched),
            'has-success':(categoryForm.get('name').valid && categoryForm.get('name').dirty)
          }">
          <label class="form-control-label" for="name">Name</label>
          <input type="text" formControlName="name"
            class="form-control form-control-success form-control-danger">

          <div class="alert alert-danger">{{ formErrors.name }}</div>
        </div>

        <div class="form-group col-12"
          [ngClass]="{
            'has-danger':(categoryForm.get('description').invalid && categoryForm.get('description').touched),
            'has-success':(categoryForm.get('description').valid && categoryForm.get('description').dirty)
          }">
          <label class="form-control-label" for="description">Description</label>
          <textarea rows="4" formControlName="description"
            class="form-control form-control-success form-control-danger">
          </textarea>

          <div class="alert alert-danger">{{ formErrors.description }}</div>
        </div>
        <div class="col-12">
          <button md-raised-button type="submit" class="lg-primary text-white" [disabled]="submitted || categoryForm.invalid">{{submitBtnTitle}}</button>
        </div>
        <div class="submit-error col-12" *ngIf="submitError">{{ submitError }}</div>
      </div>
    </form>
  </div>
</div>
