<div>
  <!-- SIDENAV -->
  <md-sidenav-container>
    <md-sidenav mode="over" align="start" (close-start)="onSidenavClose()" #sidenav>
      <section class="container-fluid">
        <router-outlet></router-outlet>
        <button id="closeSidenavButton" class="lg-primary text-white" md-raised-button
          (click)="sidenav.close()">Close</button>
      </section>
    </md-sidenav>

      <!-- Main Content -->
    <div class="container-fluid">
      <h2 class="main-header col-12 text-center">Products<span *ngIf="categoryName"> for {{categoryName}}</span></h2>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 card-container">
          <div class="card product-card">
            <button class="lg-primary text-white create-btn" md-raised-button
              (click)="openCreateCategory()">Create New Category</button>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 card-container"
        *ngFor="let product of products">
          <div class="card product-card">
            <div class="card-block" >
              <h4>{{product.name}}</h4>
              <h6 class="mb-2 text-muted">{{product.categoryName}}</h6>
              <div class="card-footer button-row" [style.border-color]="product.color">
                <button md-icon-button
                  (click)="confirmDelete(product)">
                  <md-icon class="delete-btn">delete_outline</md-icon>
                </button>
                <button md-icon-button [style.color]="product.color"
                  (click)="openEditProduct(product)">
                  <md-icon>edit</md-icon>
                </button>
                <button md-icon-button [style.color]="product.color"
                  (click)="openProductDetails(product)">
                  <md-icon>info_outline</md-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </md-sidenav-container>
</div>
