<div class="bg-inverse">
  <div class="container">
    <nav class="navbar navbar-toggleable-sm navbar-inverse">
        <!-- Brand and toggle get grouped for better mobile display -->
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsable-navbar" aria-controls="collapsable-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" routerLink="/">Northwind</a>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="collapsable-navbar">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/signup">Sign Up</a></li>
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/signin">Sign In</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
  </div>
</div>

<div id="main-content" class="container">
  <router-outlet></router-outlet>
</div>
