<div class="bkg-primary">
  <div class="container">
    <nav *ngIf='!isLoggedIn' class="navbar navbar-toggleable-sm navbar-inverse">
        <a class="navbar-brand" routerLink="/">Northwind</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#public-collapsable-navbar" aria-controls="collapsable-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="public-collapsable-navbar">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/signup">Sign Up</a></li>
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/signin">Sign In</a></li>
          </ul>
        </div>
    </nav>

    <nav *ngIf='isLoggedIn' class="navbar navbar-toggleable-sm navbar-inverse">
        <a class="navbar-brand" routerLink="/">Northwind</a>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#main-collapsable-navbar" aria-controls="collapsable-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-collapsable-navbar">
          <ul class="nav navbar-nav">
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/category">Categories</a></li>
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/product">Products</a></li>
          </ul>
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" routerLink="/signout">Sign Out</a></li>
          </ul>
        </div>
    </nav>
  </div>
</div> -->

<div id="main-content" class="container">
  <router-outlet></router-outlet>
</div>
