<div class="row">
  <h2 class="main-header col-12 text-center">Welcome to Northwind!</h2>
  <div class="col-12 offset-md-1 col-md-10">
    <p>This is a demo that we put together while learning the basics of full stack development. We built the site using an <a href="https://angular.io" target="_blank">Angular</a> frontend, which connects to a RESTful API that we created using a <a href="https://nodejs.org" target="_blank">Node</a> and <a href="https://expressjs.com" target="_blank">Express</a> framework. We are also using <a href="https://postgresql.org" target="_blank">PostgreSQL</a> as our database.</p>
    <p>We built the site to be entirely open source. Want to know how something works? Check it out on <a href="https://github.com/navingator/northwind-web-test" target="_blank">Github</a>!</p>
  </div>
</div>
