<div class="row">
  <h2 class="main-header col-12 text-center">{{ title }}</h2>
  <div class="col-12">
    <notice severity="warning"></notice>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="row">
        <div class="form-group col-12"
          [ngClass]="{
            'has-success': (productForm.get('name').valid && productForm.get('name').dirty),
            'has-danger': (productForm.get('name').invalid && productForm.get('name').touched)
          }">
          <label class="form-control-label" for="name">Name</label>

          <input type="text" formControlName="name"
            class="form-control form-control-success form-control-danger">

          <div class="alert alert-danger">{{ formErrors.name }}</div>
        </div>

        <div class="form-group col-12"
          [ngClass]="{
            'has-success': (productForm.get('category').valid && productForm.get('category').dirty),
            'has-danger': (productForm.get('category').invalid && productForm.get('category').touched)
          }">
          <label class="form-control-label" for="category">Category</label>

          <input type="text" class="form-control form-control-success form-control-danger"
            formControlName="category" autocomplete="off" asyncValidator
            #categorySearchBox (keyup)="categorySearch(categorySearchBox.value)">
          <div *ngFor="let category of categories | async"
            (click)="setValue(category)" class="search-result col-12">
            <span *ngIf="productForm.invalid">{{category.name}}</span>
          </div>

          <div *ngIf="formErrors.category" class="alert alert-danger">
            {{ formErrors.category }}
          </div>
          <div *ngIf="productForm.get('category').invalid && categorySearchBox.value"
            class="alert alert-danger">
            {{ validationMessages.category.uniqueName }}
          </div>
        </div>

        <div class="col-12">
          <button md-raised-button type="submit" class="lg-primary text-white"
            [disabled]="submitted || !productForm.valid">{{submitBtnTitle}}
          </button>
        </div>
        <div class="col-12">
          <div class="alert alert-danger" *ngIf="submitError">
            {{ submitError }}
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
